<?xml version="1.0"?>
<!-- Copyright (c) 2013-2015 Robert Rouhani <robert.rouhani@gmail.com> and other contributors (see CONTRIBUTORS file).
Licensed under the MIT License - https://raw.github.com/Robmaister/SharpNav/master/LICENSE -->
<config xmlns="SharpDoc">
	<title>SharpNav</title>
	<param name="SubTitle">A Pathfinding and Navigation Mesh Library for C#</param>
	<param name="Copyright">Copyright (c) 2013-2015 Robert Rouhani &lt;robert.rouhani@gmail.com&gt; and other contributors</param>
	
	<style-dir>Styles/</style-dir>
	<style>SharpNav</style>
	
	<topic id="overview.md" page-id="overview" name="SharpNav Documentation" filename="overview.md">
		<topic id="release-notes.md" page-id="release-notes" name="Release Notes" filename="release-notes.md">
        	<topic id="v1.0.0-alpha.2.md" page-id="release-notes-v1.0.0-alpha.2" name="SharpNav 1.0.0-alpha.2" filename="Release Notes/v1.0.0-alpha.2.md" />
			<topic id="v1.0.0-alpha.1.md" page-id="release-notes-v1.0.0-alpha.1" name="SharpNav 1.0.0-alpha.1" filename="Release Notes/v1.0.0-alpha.1.md" />
			<topic id="v0.9.0.md" page-id="release-notes-v0.9.0" name="SharpNav 0.9.0" filename="Release Notes/v0.9.0.md" />
		</topic>
		<topic id="X:ClassLibraryReference" page-id="api" name="Class Library Reference" index="100" on-url="true" />
	</topic>
</config>
